figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: white;
  padding: 1rem;
  border: 1px solid var(--color-neutral-85);
  border-radius: 0.75rem;
  margin: 2rem auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  max-width: 900px;  
  overflow: hidden;  
}

figure img {
  display: block;
  max-width: 100%;  
  width: 100%;     
  height: auto;     
  object-fit: contain;
  border-radius: 0.5rem;
}
